################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/xResourceMgr.vs2022/.vs/xResourceMgr
/build/xResourceMgr.vs2022/xResourceMgr/x64/Debug
/build/xResourceMgr.vs2022/x64/Debug
/dependencies
/build/xresource_mgr_unit_test.vs2022
